// Colors

// Primary

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

//  Neutral

$dark-blue: hsl(209, 23%, 22%);
$bcg-dark-blue: hsl(207, 26%, 17%);
$txt-dark-blue: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);

// Fonts
$font-family: 'Nunito Sans', sans-serif;
$light: 300;
$semi-bold: 600;
$extra-bold: 800;
