.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  width: 375px;

  @media screen and (min-width: 1440px) {
    padding-left: 50px;
    padding-right: 50px;
    width: 1340px;
  }
}
