@import '../../assets/styles/index.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 60px;
  border: none;
  background-color: $very-light-grey;
  &.dark {
    background-color: $very-dark-grayish-dark;
  }
}

.txt {
  font-size: 14px;
}

.filterList {
  display: flex;
}

.filterList > li {
  margin-right: 20px;
}

.filterList > li:last-child {
  margin-left: 50px;
  margin-right: 0;
}

.filterBtn {
  display: flex;
  padding: 0;
  font-size: 14px;
  font-weight: 800;
  color: $dark-grayish-blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: $very-dark-grayish-blue;
  }
  &.active.dark {
    color: $bright-blue;
  }
  &.active {
    color: $bright-blue;
  }
  &.dark {
    color: $light-grayish-blue;
  }
}

.block {
  display: none;
  @include mq(desk) {
    display: block;
  }
}
