@import '../../assets/styles/index.scss';

.task {
  font-size: 16px;
  &.complete {
    text-decoration: line-through;
  }
}

.btnCross {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
