@import '../../assets/styles/index.scss';

.inputShell {
  position: relative;
  margin-bottom: 20px;
}

.input {
  padding: 0 0 0 40px;
  margin: 0;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  height: 60px;
  border: none;
  &:focus {
    outline: none;
  }
  &.dark {
    background-color: $very-dark-grayish-dark;
    color: $light-grayish-blue;
  }
}
